.header__lang-link {
  min-width: 22px;
  min-height: 20px;
  margin:0;
  padding:0;
  color: #FFFFFF;
  min-width: 22x;
  min-height: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:nth-child(odd) {
  margin-right: 16px;
}

@media screen and (max-width: 720px) {
  .header__lang-link {
    min-width: 22px;
    min-height: 20px;
    margin:0;
    padding:0;
    color: #FFFFFF;
    min-width: 22x;
    min-height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}
