.lead__content {
  margin: 64px auto 0 auto;
}

@media screen and (max-width: 1000px) {
  .lead__content {
    margin-top: 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__content {
    margin-top: 40px;
  }
}
