.places__title {
  margin: 0;
  padding: 0;
  max-width: 484px;
  text-align: start;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 1000px) {
  .places__title {
    margin: 0 16px 0 0;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 720px) {
  .places__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px 0 16px;
  }
}
