.places__place {
  margin-bottom: 80px;
  gap: 48px 28px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px,1fr));
  grid-template-areas:
  "title website"
  "image text";
  justify-items: stretch;
}

@media screen and (max-width: 720px) {
  .places__place {
    margin-bottom: 50px;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
}