.place__link {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  transition: opacity 0.23s;
}

.place__link:hover {
  opacity: .8;
}
