@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  max-width: 1280px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'inter';
  background: #2A2C2F;
  color:#FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*--------------------------------------------header-------------------------------------*/

.header {
  margin-top: 28px;
  margin-left: 48px;
  margin-right: 48px;
  max-height: 52px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.header__logo {
  max-width: 176px;
}

.header__lang-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__lang-link_underline {
  text-decoration-line: underline;
}

.header__lang-link {
  min-width: 22px;
  min-height: 20px;
  margin:0;
  padding:0;
  color: #FFFFFF;
  min-width: 22x;
  min-height: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:nth-child(odd) {
  margin-right: 16px;
}

@media screen and (max-width: 1000px) {
  .header {
    margin-top: 28px;
    margin-left: 24px;
    margin-right: 24px;
    max-height: 52px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    max-height: 52px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  .header__lang-link {
    min-width: 22px;
    min-height: 20px;
    margin:0;
    padding:0;
    color: #FFFFFF;
    min-width: 22x;
    min-height: 20px;
    font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  }
  .header__logo {
    max-width: 142px;
  }
} 

/*-----------------------------------------lead-------------------------------------*/

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 92px;
  overflow: hidden;
}

.lead__title {
  padding: 0;
  max-width: 720px;
  max-height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}

.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  padding: 0;
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}

.lead__content {
  margin: auto;
  margin-top: 64px;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  margin: auto;
}

.lead__caption {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  width: 250px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;  
}

@media screen and (max-width: 1000px) {
  .lead__content {
    margin: auto;
    margin-top: 56px;
  }

  .lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 88px;
    overflow: hidden;
  } 

  .lead__caption {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    width: 250px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;  
    margin-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  .lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 64px;
    overflow: hidden;
  }

  .lead__caption {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    width: 250px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;  
    margin-left: 16px;
  }

  .lead__title {
    padding: 0;
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin: auto;
    margin-bottom: 16px;
  }

  .lead__subtitle {
    max-width: 288px;
    padding: 0;
    text-align: center;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__content {
    margin: auto;
    margin-top: 40px;
  }
}



/*-----------------------------------------intro-------------------------------------*/


.intro {
  margin: auto;
  max-width: 984px;
  overflow: hidden;
  margin-bottom: 92px;
  margin-left: 48px;
  margin-right: 48px;
}

.intro__title {
  padding: 0;
  margin: 0;
  max-width: 690px;
  max-height: 58px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-bottom: 40px;
}

.intro__text {
  padding: 0;
  margin: 0;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 33px;
}

.intro__list {
  margin: 0;
  margin-left: -40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

@media screen and (max-width: 1000px) {
  .intro {
    margin: auto;
    max-width: 984px;
    overflow: hidden;
    margin-bottom: 92px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    margin: auto;
    max-width: 984px;
    overflow: hidden;
    margin-bottom: 92px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__title {
    padding: 0;
    margin: 0;
    max-width: 690px;
    max-height: 58px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}

/*-----------------------------------------photo-grid-------------------------------------*/

.photo-grid {
  /*overflow: hidden;*/
  width: calc(100% - 96px);
  display: grid;
  justify-items: stretch;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  margin: auto;
}

.photo-grid__item {
  min-width: 284px;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .photo-grid {
    /*overflow: hidden;*/
    width: calc(100% - 48px);
    display: grid;
    justify-items: stretch;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    margin: auto;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    /*overflow: hidden;*/
    width: calc(100% - 32px);
    display: grid;
    justify-items: stretch;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    margin: auto;
  }
}

/*-----------------------------------------places-------------------------------------*/

.places {
  overflow: hidden;
  max-width: 984px;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 12px;
}

.place {
  margin-bottom: 80px;
  gap: 48px 28px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px,1fr));
  grid-template-areas:
  "title website"
  "image text";
  justify-items: stretch;
}

.place__image {
  grid-area: image;
  max-width: 460px;
}

.place__website {
  align-self: end;
  grid-area: website;
}

.place__website__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
}

.place__website__link {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
}

.place__title { 
  margin: 0;
  padding: 0;
  max-width: 484px;
  text-align: start;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__text {
  margin: 0;
  padding: 0;
  grid-area: text;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1000px) { 
  .place__title { 
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 484px;
    text-align: start;
    grid-area: title;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
  }
  .place__text {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
    grid-area: text;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .place__website__url-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 720px) { 
  .places {
    overflow: hidden;
    max-width: 984px;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 12px;
  }
  
  .place {
    margin-bottom: 80px;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }

  .place__title { 
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 484px;
    text-align: start;
    grid-area: title;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
  }

  .place__text {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
    grid-area: text;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .place__image {
    grid-area: image;
    max-width: 100%;
  }

  .place__website {
    margin-left: 16px;
    margin-right: 16px;
    align-self: start;
  }
} 
/*-----------------------------------------cover-------------------------------------*/
.cover {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 92px;
}

.cover__background {
  width: 100%;
  height: auto;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cover__container__title {
  margin: 0;
  padding: 0;
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 32px;
}

.cover__container__subtitle {
  margin: 0;
  padding: 0;
  margin: auto;
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .cover__container__title {
    padding: 0;
    width: 288px;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
    margin-bottom: 16px;
  }
  
  .cover__container__subtitle {
    margin: 0;
    padding: 0;
    margin: auto;
    width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
  }
}

/*-----------------------------------------footer-------------------------------------*/

.footer {
  margin: auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 24px;
}

.footer__links__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.22;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .footer {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer__links__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 32px;
  }
  
  .footer__copyright {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-self: start;
    margin-top: 16px;
  }
} 